
@import '../../styles/consts.scss';

.container-fluid {
  background-color: $background-black-opacity;
  font-family: $main-font;
  font-size: 12px;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  border-radius: 5px;
  color: $white;

  .top-section {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .bottom-section {
    text-align: center;
    font-weight: 500;

    div {
      margin-top: 30px;
    }
  }
}
