@import './consts.scss';


body
{
  font-family: $main-font, 'Roboto', Arial, Helvetica, sans-serif !important;
  font-size: $base-size;
  font-weight: 400;
  line-height: 1.5;
  color: $color-text;
  background: $color-background;
  background-image: url(./assets/images/bg-img.png);
  background-size: cover;
  min-width: 1000px;

  a {
    text-transform: capitalize;
    color: $main-blue;
  }

  h4 {
    font-size: 12px;
  }

  h3 {
    font-size: 20px;
    padding: 25px 0px;
  }

  h1 {
    font-size: 40px;
  }

  .container,
  .container-fluid {
    width: 95%;
  }
}
