.float-right {
  float: right;
}

.uppercase {
  text-transform: uppercase;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.break-word {
  overflow-wrap: break-word;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}