// Sizes
$base-size: 14px;

// Color palette
$white: unquote('#ffffff');
$black: unquote('#000000');

$main-blue: unquote('#1fb8fc');
$main-green: unquote('#33b05c');
$main-red: unquote('#de6464cf');

$second-red: unquote('#fc1f1fc7');
$second-blue: unquote('#2399e5');

$main-green-hover: unquote('#33b05db2');

$module-black: unquote('#2d314a');
$error-red: unquote('#fc1f1f');

$selection-blue: unquote('#039be8');
$selection-blue-04: unquote('rgba(3, 155, 232, 0.4)');
$selection-blue-hover: unquote('#04a9fb');
$interaction-blue: unquote('#1fb8fc');

$blue-grad-start: unquote('#0064ce');
$blue-grad-end: unquote('#1887ff');

$grey-grad-start: unquote('#3f4259');
$grey-grad-end: unquote('#344869');
$grey: unquote('#343b54');
$gray-opt-chart: unquote('#9c9c9c');
$light-grey: unquote('#e9eef3');

$dark-blue-grey: unquote('#0f132f');
$dark-blue-hover: unquote('#18204e');
$dark: unquote('#04092f');

$background-black: unquote('#050928');
$background-black-opacity: unquote('rgba(255, 255, 255, 0.099)');
$slider-line-color: unquote('#d3d3d3');

//Assignments
$color-text: $white;
$color-background: $white;

// Fonts
$main-font: 'Montserrat';

// Opacity
$white-15: unquote('rgba(255, 255, 255, 0.15)');



